*{
    font-family: 'Source Code Pro', monospace;
}

/* Set a background image by replacing the URL below */
body {
    background: rgb(68, 66, 66);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

 /* Modify the background color */ 
          
        .navbar-custom { 
            background-color: black; 
        } 
        /* Modify brand and text color */ 
          
        .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text, { 
            color: chartreuse; 
        } 
  
a {
    color: rgb(0, 93, 170); 
}

a:hover {
    color: white; 

}

#maincontentframe{
    background-color: black;
}

p {
    color: white;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

}